@font-face {
  font-family: "Euclid-Circular-Medium";
  src: url("../fonts/Euclid\ Circular\ A\ Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
  align-items: center;
  align-content: center;
  font-family: "Euclid-Circular-Medium";
}